<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="canonical"
	th:href="@{https://getbootstrap.com/docs/5.0/examples/headers/}">
<link th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet">
<script type="text/javascript"
	th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"></script>
<!-- Custom styles for this template -->
<link th:href="@{/css/headers.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<label class="text-danger" th:text="${error}"></label>
		</div>
		<h1>ユーザー新規登録</h1>
		<form th:action="@{/user/create}" th:object="${userRequest}"
			th:method="post">

			<div class="form-group">
				<label>名前：<span class="text-danger">※</span></label> <input
					type="text" th:field="*{name}" class="form-control">
			</div>

			<div class="form-group">
				<label>パスワード：<span class="text-danger">※</span></label> <input
					type="text" th:field="*{password}" class="form-control">
			</div>
			<div class="form-group">
				<label>ロール：<span class="text-danger">※</span></label> 
				<select th:field="*{role}" name="role" class="form-control">
  					<option th:value="0" selected>ユーザー</option>
  					<option th:value="1">管理者</option>
  				</select>
			</div>
			<br />
			<div class="text-center">
				<a href="/user/list" class="btn btn-secondary">キャンセル</a> <input
					type="submit" value="　登録　" class="btn btn-primary">
			</div>
		</form>
	</div>
</body>
</html>