<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="canonical"
	th:href="@{https://getbootstrap.com/docs/5.0/examples/headers/}">
<link th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet">
<script type="text/javascript"
	th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"></script>
<!-- Custom styles for this template -->
<link th:href="@{/css/headers.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1>ユーザー情報一覧</h1>
		<div class="float-end">
			<a th:href="@{/user/add}" class="btn btn-primary">新規登録はこちら</a> <a
				th:href="@{/login}" class="btn btn-primary">ログイン画面へ</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>名前</th>
					<th>ロール</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${userlist}" th:object="${user}"
					class="align-middle">
					<td th:text="*{userId}"></td>
					<td th:text="*{userName}"></td>
					<td th:if="*{role} == '1'" th:text="管理者"></td>
					<td th:if="*{role} == '0'" th:text="ユーザー"></td>
					<td><a th:href="@{/user/{id}(id=*{userId})}"
						class="btn btn-secondary">詳細</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>