<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div class="container">
		<h1>ユーザー情報詳細</h1>
		<div th:object="${userData}">
			<div class="row mx-md-n5">
				<div class="col-2 pt-3 border bg-light">名前</div>
				<div class="col pt-3 border">
					<p th:text="*{userName}"></p>
				</div>
			</div>
		</div>
		<br />
		<div class="text-center">
			<a th:href="@{/user/{id}/edit(id=*{id})}"
				class="btn btn-primary disabled" aria-disabled="true"> 編集 </a> <a
				th:href="@{/user/{id}/delete(id=*{id})}"
				class="btn btn-secondary disabled" aria-disabled="true"> 削除 </a> <a
				href="/user/list" class="btn btn-secondary">一覧に戻る</a>
		</div>
	</div>
</body>
</html>