<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" charset="UTF-8">
</head>
<body>
	<!--/* ログイン失敗/ログアウトはgetパラメータにステータスが渡されているので、Thymeleafではparamから取得 */-->
	<div th:if="${param.logout}" style="color: red">ログアウトしました</div>
	<div th:if="${param.error}" style="color: red">ユーザー名かパスワードが違います</div>

	<!--/* 「/sign_in」がログイン判定処理を呼び出すViewNameとなっている */-->
	<form th:action="@{/sign_in}" method="post">
		<input type="text" name="username">ユーザー名 <br /> <input
			type="password" name="password">パスワード <br /> <input
			type="submit" value="Login">
	</form>
</body>
</html>